{{#each nav}}
	<a class="tab-item" href="#{{hash}}">{{title}}</a>
{{/each}}
<a class="tab-item next" {{#if model.nextSlide}}href="#{{model.nextSlide.slug}}">{{model.nextSlide.title}} <span class="icon icon-right-nav"></span>{{else}}data-bypass="true">{{/if}}</a>